//  ================================================================================================
//  NOTE:
//
//  HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
//  WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.
//  ================================================================================================

@import 'variables/variables';

//  ================================================================================================
//  Menu
//  ================================================================================================
.main-menu .navbar-header .navbar-brand .brand-text {
    font-weight: 800;
    text-transform: uppercase;
}

//  ================================================================================================
//  Description layouts
//  ================================================================================================
.description .description-image {
    height: 200px;
}

.description .description-title {
    font-weight: 800;
    font-size: 1.6rem;
}

//  ================================================================================================
//  Auth page
//  ================================================================================================
.form-title {
    text-align: center;
    padding: 0 2em;
}

.form-title img {
    height: 50px;
}

.form-title h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
